@theme {
  --color-primary: #5da5da;
  --color-primary-light: #e1f0ff;

  --color-success-pastel: #dcfce7;
  --color-success-text: #166534;

  --color-warning-pastel: #fef3c7;
  --color-warning-text: #92400e;

  --color-danger-pastel: #fee2e2;
  --color-danger-text: #991b1b;

  --color-sidebar-bg: #f0f4f8;
  --color-page-bg: #e5eaf0;

  --color-dark-grey: #334155;
  --color-muted-grey: #64748b;

  --font-display: "Inter", sans-serif;

  --radius: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-2xl: 24px;
  --radius-3xl: 40px;
  --radius-full: 9999px;
}